* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primary__ {
    color: black;
    text-decoration: underline;
}

.nav-item {
    font-size: 20px;
    font-weight: bolder;
}

section {
    display: block;
    height: 40%;
    width: 40%;
}

.customer__feedback {
    overflow: hidden;
    border-radius: 10px;
}

.comment-box {
    padding: 10px 30px;
    margin-top: 10px;
    margin: auto;
    height: 400px;
    border: 2px solid black;
    border-radius: 10px;
    width: 500px;
}

.input_primary_101 {
    border-radius: 5px;
    width: 350px;
}

.input_secondary {
    border-radius: 5px;
    width: 320px;
}

.textarea {
    border-radius: 10px;
    padding: 5px 5px;
}

button {
    width: 150px;
    border: none;
    background-color: hsl(36, 85%, 65%);
    border-radius: 5px;
}